<body>
    <div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Saved Articles</h1>
        <p>Your Saved Articles</p>
    </div>
    </div>
    <div class="container-fluid article-container">
        <div data-_id="5c7632d968c16b001442b099" class="card">
        <div class="card-header">
            <h3>
            <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/02/26/magazine/psychics-skeptics-facebook.html">Inside the Secret Sting Operations to Expose Celebrity Psychics</a>
            <a class="btn btn-danger delete">Delete From Saved</a>
            <a class="btn btn-info notes">Article Notes</a>
            </h3>
        </div>
        <div class="card-body">Are some celebrity mediums fooling their audience members by reading social media pages in advance? A group of online vigilantes is out to prove it.</div>
        </div>
    </div>
    
    <script src="/assets/javascript/saved.js"></script>

</body>