.navbar {
    margin-bottom: 0;
}
a {
    margin-right: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: white;
    background-color: #2196f3;
}
body {
    display: block;
}
.panel-default {
    margin-bottom: 30px;
}